# Random Recipe Dev Notebook
This notebook is for development and testing of the functionalities of Random Recipe.

In [1]:
import random
import pandas as pd

In [2]:
# initializing set of dishes
dishes = set()

In [3]:
# defining sample set of dishes
sample_dishes = {
    "sinigang", "posole", "japanese curry", "spaghetti",
    "steak alfredo", "lamb chops", "ramen", "gochujang chicken",
    "steak", "bacon mac", "pancakes", "pork belly",
    "kielbasa", "15 bean soup", "pesto", "chicken wingssssss",
}
dishes = dishes.union(sample_dishes)

In [4]:
# defining and adding a user-inputted dish
new_dishes = input('Type some dishes you know how to cook, separated by commas, and press Enter (e.g., "sinigang, posole, japanese curry"):')
new_dishes_list = new_dishes.split(",")
new_dishes_list = [dish.strip().lower() for dish in new_dishes_list]
dishes = dishes.union(new_dishes_list)

Type some dishes you know how to cook, separated by commas, and press Enter (e.g., "sinigang, posole, japanese curry"): sinigang, posole, japanese curry

In [8]:
# asking user for number of dishes to sample
num_dishes = input("How many meals are you looking to cook?")
num_input = True
while num_input:
    try:
        num_dishes = int(num_dishes)
        num_input = False
    except ValueError:
        num_dishes = input("Please input a number:")
# printing random dishes to cook
random_dishes = random.sample(tuple(dishes), k=num_dishes)
print(f"Here are some meal suggestions!")
for num, dish in enumerate(random_dishes):
    print(f"{num+1}: {dish}")

How many meals are you looking to cook? 3

Here are some meal suggestions!
1: pancakes
2: pork belly
3: kielbasa

In [21]:
dish_df = pd.DataFrame(columns=["dish_names", "meats", "veggies", "expensive"])
dish_df["dish_names"] = tuple(dishes)
dish_df

           dish_names meats veggies expensive
0           bacon mac   NaN     NaN       NaN
1   gochujang chicken   NaN     NaN       NaN
2               steak   NaN     NaN       NaN
3      japanese curry   NaN     NaN       NaN
4       steak alfredo   NaN     NaN       NaN
5           spaghetti   NaN     NaN       NaN
6            pancakes   NaN     NaN       NaN
7            kielbasa   NaN     NaN       NaN
8          lamb chops   NaN     NaN       NaN
9              posole   NaN     NaN       NaN
10         pork belly   NaN     NaN       NaN
11           sinigang   NaN     NaN       NaN
12              ramen   NaN     NaN       NaN